:root {
    --background-color: #ffffff;
    --color-button: #FFFFFF;
    --background-button: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}


.body-fonts {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-syle {
    background-color: #2e2f42
}

/* LOGO */

.logo-linked link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76;
}


.address-list {
    font-style: normal;
    color: #434455;
}

/* CONTACTS */
.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    margin: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: transform 250ms linear;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    text-decoration: none;
}


.contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-style {
    display: flex;
    gap: 40px;
}

.address-list {
    margin-left: auto;
}


.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: var(--color-primary);
}

:root {
    --color-primary: #404bbf;
}

/* BUTTON */

.text-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: auto;
    margin-bottom: 64px;
}

.section-style {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-logo.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

/* BUTTON */

.btn-style {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-style {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.btn-style:focus,
.btn-style:hover {
    background-color: #404BBF;
}

.section-style {
    color: #2e2f42;
    padding: 188px 0;
}

/* HERO */

.hero-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;

}

.hero-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: auto;
}

.hero-item-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4)
}

.section-style-hero {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-item-lists {
    gap: 24px;
}

/* GOAL LIST */

.goal-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.goal-item-list {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.list-goal {
    display: flex;
    gap: 24px;
}

.goal-style {
    padding-bottom: 120px;
}

/* TEAM */

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
}

.team-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;

}

.team-item-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team {
    padding: 120px 0;
}

.ul-list {
    gap: 24px;
    display: flex;
}

.team-name {
    padding: 32px 16px;
    text-align: center;
    margin-bottom: 8px;
}



/* FUTER PORFOLIO */

.style-logos-item {
    color: #2e2f42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.portfolio-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* HEADER LOGO */
.style-logos-logo {
    color: #2E2F42;

}

/* FOTER LOGO */

.style-logos-down {
    color: #F4F4FD;
}

.logo-color-list {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin: 0;
    width: 264px;
}

/* HEADER LOGO  */

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-hedaer {
    margin-right: 76px
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

/* Portfolio */

.list {
    list-style: none;
}

.section-style-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* Button Portfolio */

.button-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4d5ae5;
    background-color: #F4F4FD;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-all {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.button-all:hover,
.button-all:focus {
    background: var(--background-button);
    color: var(--color-button);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link {
    text-decoration: none;
    display: block;
}

.portfolio-link:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:focus {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-warp {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover .paragrahp-text,
.portfolio-link:focus .paragrahp-text {
    transform: translateY(0%);
}

.paragrahp-text {
    display: block;
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: #4D5AE5;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-list {
    width: calc((100% - 60px)/3);
    position: relative;
}

.main-logo {
    border-bottom: 1px solid #e7e9fc
}

.button {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-style {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-container {
    display: flex;
    align-items: baseline;
}

.portfolio-logo {
    margin-right: 120px
}

.portfolio-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


/* IMAGE */
img {
    display: block;
}

.image {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


/* HEADER */

.header-style {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-styles {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    display: flex;
    align-items: center;
}


.icon-list {
    display: flex;
    align-items: center;

    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.icon-item {
    display: flex;
    justify-content: center;
}

.icon-listen {
    display: flex;
    gap: 24px;
    justify-content: center;
}


.icons-list {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-items {
    fill: #f4f4fd;
}

.futer-logotype {
    padding-top: 120px;
    padding-bottom: 120px;
}

.futer-fonts {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.futer-client {
    display: flex;
    gap: 24px;
}

.list-client {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.client-item {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.client-item:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.client-item:focus {
    color: #404bbf;
    border-color: #404bbf;
}

.client-logo {
    fill: currentColor;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-font {
    margin-right: 120px;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-items {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items:hover {
    background-color: #31d0aa;
}

.social-items:focus {
    background-color: #31d0aa;
}

.media-logo {
    fill: #f4f4fd;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #ffffff;
    background-color: #404bbf;
    border: none;
}


.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #ffffff;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.button-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.button-subscribe-email {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.button-subscribe {
    margin-left: auto;
}

.subscribe-svg {
    margin-left: 16px;
}

.modal {
    padding: 72px 24px 24px 24px;

}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.label-style {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.svg-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.svg-label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.svg-label {
    fill: #4d5ae5;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-textarea {
    margin-bottom: 16px;
}

.textarea-modal {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
    border-color: #4D5AE5;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.input-checkbox:checked+.label-checkbox>.span-check {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.input-checkbox:focus+.label-checkbox>.span-check {
    outline: 1px solid tomato;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-link {
    color: #4d5ae5;
}

.send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}